@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt,
#__layout {
	height: 100dvh !important;
	width: 100vw !important;
}

@layer components {
	.primary-button {
		@apply bg-blaze-400 rounded-full px-6 py-2 text-white font-sig uppercase text-xl cursor-pointer select-none text-center;
	}

	.secondary-button {
		@apply border-black border rounded-full px-6 py-2 text-black font-mont uppercase text-xs font-bold cursor-pointer select-none text-center;
	}

	.debug-table {
		@apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
	}

	.debug-tr {
		@apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
	}

	.debug-th {
		@apply px-6 py-4 font-medium text-gray-900 dark:text-white;
	}

	.debug-td {
		@apply px-6 py-4;
	}
}
